@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0B0A;
  --text: #F5F0EB;
  --primary: #C76B4C;
}

body {
  background-color: var(--background);
  color: var(--text);
}  
